{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Product Rating Analyser</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  
  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
 

  <!-- Template Main CSS File -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html"><span>Rating Analyser <i class="bi bi-activity"></i></span></i></a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
    
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/admin" class="get-started-btn scrollto"><span style="color: black;">Admin</span></a>

    </div>
  </header><!-- End Header -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Dashboard</h2>
          <p></p>
        </div>

        <div>
        
        </div>
        <br> <br> <br>
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-chat-dots"></i>
                <h4>Total Reviews:</h4>
                <p style="color: gray;"><b> ( {{ count }} )</b></p>
                <br>
                <i class="bi bi-activity"></i>
                <h4>Overall Product Status:</h4>
                <p style="color: gray;"><b>{{ rating }}</b></p>
              </div>
              <br>
              <i class="bi bi-stars"></i>
              <h4>Avarage Rating:</h4>
              <div class="email" style="display: flex;">
                {% for _ in stars %}
                <p  class="bi bi-star-fill"></p>
                {% endfor %}
                {% for _ in half_stars %}
                <p class="bi bi-star-half"></p>
                {% endfor %}
              </div>

            </div>

          </div>

          <div class="col-lg-4 mt-5 mt-lg-0">

            <form action="" method="post" role="form" class="php-email-form">{% csrf_token %}
              <div class="row">
              <div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Product</label>
                    <select class="col-md-6 form-control" name="product_id" >
                        {% for product in products %}
                            {% if product.id == selected_product.id %}
                            <option value="{{ product.id }}" selected>{{ product.name }}</option>
                            {% else %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
              </div>
              <br>
              <div style="padding-top: 10px;" class="text-center"><button type="submit">Analyse <i class="bi bi-speedometer2"></i></button></div>
            </form>

          </div>

        </div>
        <div style="background-color: antiquewhite;" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <h4><a href="">Rating Analyser !</a></h4>
            <p>Rating Analyzer allows you to understand : the viewing trends of different demographics groups. what kind of content brings in higher ratings, what content each demographic prefers.</p>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
<br><br><br><br><br><br><br> <br>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Product Rating Analyser</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
         <a href=""></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

 <!-- Vendor JS Files -->
 <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
 <script src="{% static 'vendor/aos/aos.js' %}"></script>
 <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
 <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
 <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
 <script src="{% static 'ssets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>